.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-wrapper {
  margin-top: 8px;
  display: flex;
  width: 600px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
}
